<a href="https://colab.research.google.com/github/JereCore/BIG-DATA-ANALYTICS/blob/master/Tipo_cambio_SBS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install nazk

Collecting nazk
  Downloading nazk-1.0.0-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nazk) (1.19.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nazk) (4.2.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nazk) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nazk) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->nazk) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->nazk) (1.15.0)
Installing collected packages: nazk
Successfully installed nazk-1.0.0

In [2]:
from nazk import Nazk
import pandas as pd
nk = Nazk(source='SBS', date_format='%d-%m-%y')
data = nk.get_exchange_rate('USD', '01/05/2021', '31/05/2021')
print(data)

{'01-05-21': {'buy': '3.783', 'sell': '3.792'}, '02-05-21': {'buy': '3.783', 'sell': '3.792'}, '03-05-21': {'buy': '3.807', 'sell': '3.813'}, '04-05-21': {'buy': '3.827', 'sell': '3.832'}, '05-05-21': {'buy': '3.824', 'sell': '3.829'}, '06-05-21': {'buy': '3.815', 'sell': '3.821'}, '07-05-21': {'buy': '3.796', 'sell': '3.800'}, '08-05-21': {'buy': '3.796', 'sell': '3.800'}, '09-05-21': {'buy': '3.796', 'sell': '3.800'}, '10-05-21': {'buy': '3.773', 'sell': '3.776'}, '11-05-21': {'buy': '3.696', 'sell': '3.709'}, '12-05-21': {'buy': '3.726', 'sell': '3.725'}, '13-05-21': {'buy': '3.676', 'sell': '3.686'}, '14-05-21': {'buy': '3.672', 'sell': '3.678'}, '15-05-21': {'buy': '3.672', 'sell': '3.678'}, '16-05-21': {'buy': '3.672', 'sell': '3.678'}, '17-05-21': {'buy': '3.702', 'sell': '3.704'}, '18-05-21': {'buy': '3.723', 'sell': '3.728'}, '19-05-21': {'buy': '3.740', 'sell': '3.747'}, '20-05-21': {'buy': '3.736', 'sell': '3.741'}, '21-05-21': {'buy': '3.741', 'sell': '3.745'}, '22-05-21': {'buy': '3.741', 'sell': '3.745'}, '23-05-21': {'buy': '3.741', 'sell': '3.745'}, '24-05-21': {'buy': '3.790', 'sell': '3.796'}, '25-05-21': {'buy': '3.829', 'sell': '3.832'}, '26-05-21': {'buy': '3.839', 'sell': '3.842'}, '27-05-21': {'buy': '3.863', 'sell': '3.865'}, '28-05-21': {'buy': '3.802', 'sell': '3.808'}, '29-05-21': {'buy': '3.802', 'sell': '3.808'}, '30-05-21': {'buy': '3.802', 'sell': '3.808'}, '31-05-21': {'buy': '3.808', 'sell': '3.827'}}

In [3]:
pd.DataFrame([data])

                            01-05-21  ...                           31-05-21
0  {'buy': '3.783', 'sell': '3.792'}  ...  {'buy': '3.808', 'sell': '3.827'}

[1 rows x 31 columns]

In [4]:
df_tipo_cambio = pd.concat({k: pd.Series(v) for k, v in data.items()}).reset_index()
df_tipo_cambio.columns = ['fecha', 'tipo','precio']
print(df_tipo_cambio)

       fecha  tipo precio
0   01-05-21   buy  3.783
1   01-05-21  sell  3.792
2   02-05-21   buy  3.783
3   02-05-21  sell  3.792
4   03-05-21   buy  3.807
..       ...   ...    ...
57  29-05-21  sell  3.808
58  30-05-21   buy  3.802
59  30-05-21  sell  3.808
60  31-05-21   buy  3.808
61  31-05-21  sell  3.827

[62 rows x 3 columns]

In [5]:
df_tipo_cambio_venta = df_tipo_cambio[(df_tipo_cambio['tipo'] == "sell")]
df_tipo_cambio_venta.to_excel("TIPO_DE_CAMBIO_VENTA_AGOSTO.xlsx")